In [13]:
# exemplo1

A = [
    [1, 3, 2],
    [4, 7, 6],
]
B = [
    [2, 8],
    [3, 1],
    [5, 9],
]
# resultado = [[0],[0]]
for i in range(2):
  for j in range(2):
    soma = 0
    for k in range(3):
      # print(f'{i}{k} * {k}{j}')
      # print(A[i][k] , B[k][j])
      soma += A[i][k] * B[k][j]
    print(f'{i}{j} = {soma}')

# resultado

00 = 21
01 = 29
10 = 59
11 = 93

In [21]:
# exemplo2

A = [
    [2, 0, 0],
    [0, 1, 0],
    [0, 0, 7],
]
diagonal = True
for i in range(3):
  for j in range(3):
    if i != j and A[i][j] !=0:
      diagonal = False
      break

if diagonal:
  print('é diagonal')
else:
  print('não é diagonal')

é diagonal

In [28]:
# exemplo3

A = [
    [1, 0, 0],
    [0, 1, 0],
    [0, 0, 1],
]

identidade = True

for i in range(3):
  for j in range(3):
    if (i == j and A[i][j] != 1) or (i != j and A[i][j] != 0):
      identidade = False
      break
if identidade:
  print('é identidade')
else:
  print('não é identidade')

é identidade

In [18]:
# exemplo4

A = [
    [2, 3, 8],
    [6, 0, 4],
    [1, 5, 7],
]

transposta = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0],
]

for i in range(3):
  for j in range(3):
    transposta[j][i] = A[i][j]

print(transposta)

[[2, 6, 1], [3, 0, 5], [8, 4, 7]]

In [33]:
# exercicio5

A = [
    [2, 3, 8],
    [6, 0, 4],
    [1, 5, 7],
]

alpha = 3

resultado = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0],
]

for i in range(3):
  for j in range(3):
    resultado[i][j] = A[i][j] * alpha

print(resultado)

[[6, 9, 24], [18, 0, 12], [3, 15, 21]]